<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Template</title>
    <base href="<%@ include option='NmsServer_URL' %>">
    <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
     </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <style type="text/css">
        /* Client-specific Styles */
        /* Force Outlook to provide a "view in browser" menu link. */

        #outlook a {
            padding: 0;
        }
        /* Force Hotmail to display emails at full width */

        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }
        /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */

        #backgroundTable {
            margin: 0;
            padding: 0;
            width: 100% !important;
            line-height: 100% !important;
        }
        /*        Android 4.4 fix*/

        div[style*="margin: 16px 0"] {
            margin: 0 !important;
            font-size: 100% !important;
        }
        /* End reset */

        body {
            -moz-box-sizing: border-box;
            -ms-text-size-adjust: 100%;
            -webkit-box-sizing: border-box;
            -webkit-text-size-adjust: 100%;
            background-color: rgb(226, 226, 226);
            box-sizing: border-box;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            margin: 0 !important;
            min-width: 100%;
            padding: 0 !important;
            text-align: left;
            width: 100% !important;
        }

        table {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        table td {
            border-collapse: collapse;
        }

        img {
            outline: none;
            text-decoration: none;
            -ms-interpolation-mode: bicubic;
        }

        a img {
            border: none;
        }

        img.img-spacer {
            -ms-interpolation-mode: bicubic;
            clear: both;
            display: block;
            max-width: 100%;
            outline: 0;
            text-decoration: none;
        }

        a {
            color: #000000;
            font-weight: bold;
            text-decoration: none;
        }

        a.book {
            color: #0a0a0a;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: bold;
            line-height: 1.3;
            margin: 0;
            padding: 0;
            text-align: left;
            text-decoration: none;
        }

        a.book img.nlui-widget {
            display: inline-block!important;
            height: 13px;
            vertical-align: top;
            width: 13px;
        }

        p {
            margin: 0;
        }

        p.h1 {
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
            margin: 0 0 5px 0;
            text-align: center;
        }

        #emailFooter a {
            color: #ffffff;
            font-weight: normal;
            text-decoration: underline;
        }

        #emailFooter p.social {
            line-height: 14px;
            margin-bottom: 10px;
        }

        #emailFooter p.social a {
            margin: 0;
            color: #0a0a0a;
            font-family: Helvetica, Arial, sans-serif;
            font-weight: 400;
            line-height: 1.3;
            padding: 0;
            padding-left: 2px;
            text-align: left;
            text-decoration: none;
        }

        #emailFooter p.social a img.nlui-widget {
            border: none;
            display: inline-block!important;
        }

        #emailFooter a[href^="tel"],
        #emailFooter a[href^="sms"] {
            text-decoration: none;
            color: #ffffff;
            pointer-events: none;
            cursor: default;
        }

        #emailFooter a.mobile-link[href^="tel"],
        #emailFooter a.mobile-link[href^="sms"] {
            text-decoration: none;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }

        @media only screen {
            html {
                min-height: 100%;
                background: #ebeae6;
            }
        }

        @media only screen and (max-width:588px) {
            .small-text-center {
                text-align: center!important;
            }
            .small-text-left {
                text-align: left!important;
            }
            .small-text-right {
                text-align: right!important;
            }
            table.body table.container .hide-for-large {
                display: block!important;
                overflow: visible!important;
                width: auto!important;
            }
            table.body table.container .row.hide-for-large {
                display: table!important;
                width: 100%!important;
            }
            table.body table.container .show-for-large {
                display: none!important;
                width: 0;
                mso-hide: all;
                overflow: hidden;
            }
            table.body img {
                height: auto!important;
                max-width: 100%;
                width: auto!important;
            }
            table.body .container {
                width: 100%!important;
            }
            table.body .column,
            table.body .columns {
                height: auto!important;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding-left: 12px!important;
                padding-right: 12px!important;
            }
            table.body .column .column,
            table.body .column .columns,
            table.body .columns .column,
            table.body .columns .columns {
                padding-left: 0!important;
                padding-right: 0!important;
            }
            table.body .collapse .column,
            table.body .collapse .columns {
                padding-left: 0!important;
                padding-right: 0!important;
            }
            td.small-1,
            th.small-1 {
                display: inline-block!important;
                width: 8.33333%!important;
            }
            td.small-2,
            th.small-2 {
                display: inline-block!important;
                width: 16.66667%!important;
            }
            td.small-3,
            th.small-3 {
                display: inline-block!important;
                width: 25%!important;
            }
            td.small-4,
            th.small-4 {
                display: inline-block!important;
                width: 33.33333%!important;
            }
            td.small-5,
            th.small-5 {
                display: inline-block!important;
                width: 41.66667%!important;
            }
            td.small-6,
            th.small-6 {
                display: inline-block!important;
                width: 50%!important;
            }
            td.small-7,
            th.small-7 {
                display: inline-block!important;
                width: 58.33333%!important;
            }
            td.small-8,
            th.small-8 {
                display: inline-block!important;
                width: 66.66667%!important;
            }
            td.small-9,
            th.small-9 {
                display: inline-block!important;
                width: 75%!important;
            }
            td.small-10,
            th.small-10 {
                display: inline-block!important;
                width: 83.33333%!important;
            }
            td.small-11,
            th.small-11 {
                display: inline-block!important;
                width: 91.66667%!important;
            }
            td.small-12,
            th.small-12 {
                display: inline-block!important;
                width: 100%!important;
            }
            .column td.small-12,
            .column th.small-12,
            .columns td.small-12,
            .columns th.small-12 {
                display: block!important;
                width: 100%!important;
            }
            table.body td.small-offset-1,
            table.body th.small-offset-1 {
                margin-left: 8.33333%!important;
                Margin-left: 8.33333%!important;
            }
            table.body td.small-offset-2,
            table.body th.small-offset-2 {
                margin-left: 16.66667%!important;
                Margin-left: 16.66667%!important;
            }
            table.body td.small-offset-3,
            table.body th.small-offset-3 {
                margin-left: 25%!important;
                Margin-left: 25%!important;
            }
            table.body td.small-offset-4,
            table.body th.small-offset-4 {
                margin-left: 33.33333%!important;
                Margin-left: 33.33333%!important;
            }
            table.body td.small-offset-5,
            table.body th.small-offset-5 {
                margin-left: 41.66667%!important;
                Margin-left: 41.66667%!important;
            }
            table.body td.small-offset-6,
            table.body th.small-offset-6 {
                margin-left: 50%!important;
                Margin-left: 50%!important;
            }
            table.body td.small-offset-7,
            table.body th.small-offset-7 {
                margin-left: 58.33333%!important;
                Margin-left: 58.33333%!important;
            }
            table.body td.small-offset-8,
            table.body th.small-offset-8 {
                margin-left: 66.66667%!important;
                Margin-left: 66.66667%!important;
            }
            table.body td.small-offset-9,
            table.body th.small-offset-9 {
                margin-left: 75%!important;
                Margin-left: 75%!important;
            }
            table.body td.small-offset-10,
            table.body th.small-offset-10 {
                margin-left: 83.33333%!important;
                Margin-left: 83.33333%!important;
            }
            table.body td.small-offset-11,
            table.body th.small-offset-11 {
                margin-left: 91.66667%!important;
                Margin-left: 91.66667%!important;
            }
            table.body table.columns td.expander,
            table.body table.columns th.expander {
                display: none!important;
            }
            table.body .right-text-pad,
            table.body .text-pad-right {
                padding-left: 10px!important;
            }
            table.body .left-text-pad,
            table.body .text-pad-left {
                padding-right: 10px!important;
            }
            table.menu {
                width: 100%!important;
            }
            table.menu td,
            table.menu th {
                display: inline-block!important;
                width: auto!important;
            }
            table.menu.small-vertical td,
            table.menu.small-vertical th,
            table.menu.vertical td,
            table.menu.vertical th {
                display: block!important;
            }
            table.menu[align=center] {
                width: auto!important;
            }
            .article .image img {
                width: 100%!important;
                height: auto!important;
            }
            .video .image img {
                width: 100%!important;
                height: auto!important;
            }
        }
    </style>
</head>

<body style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 400; margin: 0 ?px; min-width: 100%;">
    <div style="margin: 16px 0; font-size: 80%">
        <table bgcolor="#ebeae6" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" class="body whatson" id="bodyTable">
            <tr>
                <td align="center" class="center" valign="top">
                    <table class="container" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="576" id="emailContainer">
                        <tr>
                            <td>
                                <!-- spacer -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                    <tr>
                                        <td class="small-12 large-12 columns first last" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top">
                                                        <img width="260" height="16" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" />
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row">
                                    <tr>
                                        <td class="small-12 large-12 columns first last" valign="top">
                                            <p style="color: #666666; text-align: center;">We don&rsquo;t want to see you go.
                                                <br />Having trouble viewing this email? <a href="<%@ include view='MirrorPageUrl' %>" data-nl-type="externalLink">View it online.</a></p>
                                        </td>
                                    </tr>
                                </table>
                                <!-- spacer -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                    <tr>
                                        <td class="small-12 large-12 columns first last" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td valign="top"> <img width="260" height="16" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" />
                                                    </td>
                                                    <td class="expander"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <table id="emailBody" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            <div style="margin-bottom: 10px;">
                                                <a id="a146700988248918" href="http://www.sydneyoperahouse.com/" data-nl-type="externalLink">
                                                    <img width="576" height="60" class="img-responsive" alt="Sydney Opera House | Tactical" src="http://m.news.sydneyoperahouse.com/res/img/70E82BF961C6B13B2839A975D23C4B6F.jpg" unselectable="on" data-nl-associated-link="a146700988248918" /></a>
                                                <img width="576" class="img-responsive" alt="Sydney Opera House | Tactical" src="http://m.news.sydneyoperahouse.com/res/img/C66673839D889F63C9777F53BB4D60E2.jpg" unselectable="on" />
                                            </div>
                                            <!-- spacer -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                                <tr>
                                                    <td class="small-12 large-12 columns first last" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top"><img width="260" height="16" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" /></td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row">
                                                <tr>
                                                    <td class="small-12 large-2 columns first spacer" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="small-12 large-8 columns" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top" style="text-align: center;">
                                                                    <p class="h1"><b>Don&rsquo;t end it like this...</b></p>
                                                                    <p style="color: #0a0a0a; margin-bottom: 12px;">Hello, <span class="nl-dce-field" id="span146914424888442" data-nl-expr="[recipient/@firstName]">[First name]</span></p>
                                                                    <p style="color: #0a0a0a; margin-bottom: 12px;">
                                                                        Click refresh on your Insiders membership to continue enjoying:
                                                                        <br />
                                                                        <br />Priority access to Sydney Opera House programming.
                                                                        <br />20% off select tickets.
                                                                        <br />No booking fees.
                                                                        <br />2-for-1 specials on Tours.
                                                                        <br />Exclusive&nbsp;monthly offers.</p>
                                                                    <p style="color: #0a0a0a; margin-bottom: 10px;"><a class="book" href="http://www.sydneyoperahouse.com/giftmembership/purchase.aspx" data-nl-type="externalLink">Renew&nbsp;now&nbsp;<img width="13" height="13" class="nlui-widget" alt="go" src="http://m.news.sydneyoperahouse.com/res/img/E1B7BB8550135D8443DCDE46F5D05999.png" unselectable="on" /> </a></p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="small-12 large-2 columns last spacer" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- spacer -->
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                                <tr>
                                                    <td class="small-12 large-12 columns first last" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top"><img width="260" height="16" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" /></td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td>
                                                        <!-- spacer -->
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                                            <tr>
                                                                <td class="small-12 large-12 columns first last" valign="top">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                                        <tr>
                                                                            <td valign="top"><img width="260" height="24" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" /></td>
                                                                            <td class="expander"></td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- footer -->
                                <table id="emailFooter" width="100%" bgcolor="#000000" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row spacer">
                                                <tr>
                                                    <td class="small-12 large-12 columns first last" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top"><img width="260" height="24" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" /></td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="row">
                                                <tr>
                                                    <td class="small-6 large-6 columns first" valign="top" style="padding-right: 6px; padding-left: 12px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                            <tr>
                                                                <td valign="top" style="text-align: left;">
                                                                    <p style="color: #ffffff; margin-bottom: 10px;">Sydney Opera House
                                                                        <br />GPO Box 4274
                                                                        <br />Sydney NSW 2000</p>
                                                                    <p style="color: #ffffff; margin-bottom: 10px;"><a href="http://www.sydneyoperahouse.com/" data-nl-type="externalLink">sydneyoperahouse.com.au</a></p>
                                                                    <p class="spacer" style="margin: 0 0 10px 0;"><img class="img-spacer" alt="" border="0" height="4" unselectable="on" width="10" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF"  /></p>
                                                                    <p style="color: #ffffff;">T <a class="mobile-link" href="tel:61%202%209250%207777">+61 2 9250 7777</a></p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td class="small-6 large-6 columns last" valign="top" style="padding-right: 12px; padding-left: 6px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">

                                                            <tr>
                                                                <td valign="top" style="text-align: right;">
                                                                    <p class="social">
                                                                        <a href="https://www.facebook.com/sydneyoperahouse" data-nl-type="externalLink"> <img class="nlui-widget" alt="Facebook" src="http://m.news.sydneyoperahouse.com/res/img/DCA53750D3C7BA42F30EF3F11A46A7E3.PNG" unselectable="on" /> </a>&nbsp;
                                                                        <a href="https://twitter.com/sydoperahouse" data-nl-type="externalLink"> <img class="nlui-widget" alt="Twitter" src="http://m.news.sydneyoperahouse.com/res/img/B4E1ED62FBFBF525987DA6458B37BF32.PNG" unselectable="on" /> </a>&nbsp;
                                                                        <a href="https://www.youtube.com/user/sydneyoperahouse" data-nl-type="externalLink"> <img class="nlui-widget" alt="YouTube" src="http://m.news.sydneyoperahouse.com/res/img/9F1F29333077AC112EC400CAC1A49ED4.PNG" unselectable="on" /> </a>&nbsp;
                                                                        <a href="https://plus.google.com/+SydneyOperaHouse/posts" data-nl-type="externalLink"> <img class="nlui-widget" alt="Google Plus" src="http://m.news.sydneyoperahouse.com/res/img/D9ABEC9063B23CFBDA98DE1468CEE9E4.PNG" unselectable="on" /> </a>&nbsp;
                                                                        <a href="https://www.instagram.com/sydneyoperahouse/" data-nl-type="externalLink"> <img class="nlui-widget" alt="Instagram" src="http://m.news.sydneyoperahouse.com/res/img/A3922C39D5E379B656F39B86F40B2EAA.PNG" unselectable="on" /> </a>&nbsp;
                                                                        <a href="https://www.tripadvisor.com.au/Attraction_Review-g255060-d257278-Reviews-Sydney_Opera_House-Sydney_New_South_Wales.html" data-nl-type="externalLink"> <img class="nlui-widget" alt="TripAdvisor" src="http://m.news.sydneyoperahouse.com/res/img/2EA880F3436AB371D3D7894A565206F0.PNG" unselectable="on" /> </a>&nbsp;
                                                                    </p>
                                                                    <p class="spacer" style="margin: 0 0 10px 0;"><img class="img-spacer" alt="" border="0" height="4" unselectable="on" width="10" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF"  /></p>
                                                                    <p style="color: #ffffff; margin-bottom: 10px;">This message was sent by
                                                                        <br /><a style="overflow-wrap: break-word; word-wrap: break-word; -ms-word-break: break-all; word-break: break-word;" href="mailto:enews@sydneyoperahouse.com">enews@sydneyoperahouse.com</a></p>
                                                                    <p style="color: #ffffff; margin-bottom: 10px;"><a href="<%@ include view='sohUnsubURL' %>" style="color: #ffffff;">Unsubscribe</a></p>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <table class="row" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tr>
                                                    <td class="small-12 large-12 columns first last" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td valign="top"><img width="260" height="24" class="img-spacer" alt="" src="http://m.news.sydneyoperahouse.com/res/img/12A953949718F815C365251ABEEE9009.GIF" border="0" unselectable="on" /></td>
                                                                <td class="expander"></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!-- prevent Gmail on iOS font size manipulation
        http://freshinbox.com/blog/gmail-on-ios-increases-font-size-on-some-emails/ -->
    <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
</body>

</html>
